{% extends "base.html" %}
{% load bootstrap4 %}

{% block content-header %}
<h1>우리 가게 등록 - {{user}}</h1>
{% endblock %}

{% block content %}
    <div class=my-5>
        <form action="." method="post" class="form col-sm-8 mx-auto">

        {% csrf_token %}
        {% bootstrap_form form %}

                <button type="submit" class="btn btn-primary">
                <i class="fas fa-check"></i> 확인
                </button>

                <a href="javascript:history.back()" class="btn btn-primary">
                <i class="fas fa-undo"></i> 취소</a> 

        </form>
    </div>
{% endblock %}